<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
	xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          = "edu.iupui.n300.GeoMaps"
        version     = "1.0.0" >

    <name>GeoMaps</name>

    <description>
        A simple geolocation tool.
    </description>

    <author href="https://github.com/ProfessorKevinForbes/GeoMaps" email="professorkevinforbes@gmail.com">
        Kevin Forbes
    </author>

	<icon src="icon.png" />
	<gap:splash src="splash.png" />

	<gap:platform name="ios" />
	<gap:platform name="android" />


    <uses-sdk android:minSdkVersion="19"
              android:targetSdkVersion="19"
              android:maxSdkVersion="19" />

<feature name="Geolocation">
    <param name="android-package" value="org.apache.cordova.GeoBroker" />
</feature>

<feature name="Geolocation">
    <param name="ios-package" value="CDVLocation" />
</feature>

<gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
<gap:config-file platform="ios" parent="NSLocationAlwaysUsageDescription" overwrite="false"></gap:config-file> 

</widget>